body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

/*MENU*/
.header_arrow {
  position: absolute;
  left: 35px;
  top: 25px;
  font-size: 18px;
  text-decoration: none;
  color: black;
}
.header_arrow a {
  color: black;
}

.img2 {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.header_logo {
  display: flex;
  justify-content: center;
  font-family: "Shrikhand";
  margin: 0;
  height: 65px;
}
.header_logo .img1 {
  height: 30px;
  margin-top: 20px;
}

@media (min-width: 1100px) {
  .header_image {
    height: 750px;
  }
}
/*Section Menu*/
.section_menu {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: white;
}
.section_menu .bloc_menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f6f6f6;
  width: 1300px;
  border-radius: 40px 40px 0 0;
  margin-top: -50px;
  position: relative;
}
.section_menu .bloc_menu .bloc_title_icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  margin-top: 10px;
}
.section_menu .bloc_menu .bloc_title_icon .menu_header {
  display: flex;
  align-items: center;
  justify-content: center;
}
.section_menu .bloc_menu .bloc_title_icon .menu_header .menu_title {
  font-family: "Shrikhand";
}
.section_menu .bloc_menu .bloc_title_icon .heart {
  width: 30px;
  position: relative;
  cursor: pointer;
}
.section_menu .bloc_menu .bloc_title_icon .heart .icon_heart {
  -webkit-text-stroke: 1px rgb(0, 0, 0);
  color: white;
  font-size: 24px;
}
.section_menu .bloc_menu .bloc_title_icon .heart .icon_heart .on {
  position: absolute;
  width: 30px;
  top: 2px;
  left: 0;
  opacity: 0;
  transition: all 0.4s ease;
}
.section_menu .bloc_menu .bloc_title_icon .heart .icon_heart .off {
  transition: all 0.4s ease;
}
.section_menu .bloc_menu .bloc_title_icon .heart .icon_heart:hover .on {
  opacity: 1;
  background: linear-gradient(175deg, #ff79da 0%, #9356dc 100%);
  -webkit-text-stroke: 0px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.section_menu .bloc_menu .bloc_title_icon .heart .icon_heart:hover .off {
  opacity: 0;
}
.section_menu .bloc_menu #menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
@media (min-width: 1300px) {
  .section_menu .bloc_menu #menu {
    flex-direction: row;
    align-items: baseline;
    width: 95%;
  }
}
.section_menu .bloc_menu #menu .column {
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
}
.section_menu .bloc_menu #menu .column .menu_subtitle {
  display: flex;
  width: 95%;
  margin: 0 0 5px 20px;
  position: relative;
}
.section_menu .bloc_menu #menu .column .menu_subtitle .subtitle_menu {
  font-weight: 300;
  font-size: 16px;
}
.section_menu .bloc_menu #menu .column .menu_subtitle .subtitle_menu:after {
  content: "";
  width: 40px;
  height: 4px;
  background: #99e2d0;
  position: absolute;
  left: 0;
  bottom: 10px;
}
.section_menu .bloc_menu #menu .menu {
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 95%;
  margin-bottom: 20px;
}
.section_menu .bloc_menu #menu .menu .menu_bloc {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  height: 60px;
  margin: 15px 0;
  border-radius: 15px;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.16);
  overflow: hidden;
  cursor: pointer;
}
.section_menu .bloc_menu #menu .menu .menu_bloc:hover .checkbox {
  margin-right: 0;
  cursor: pointer;
  transition: all 0.6s ease;
}
.section_menu .bloc_menu #menu .menu .menu_bloc:hover .checkbox i {
  transform: rotate(0deg);
}
.section_menu .bloc_menu #menu .menu .menu_bloc .menu_bloc_title_subtitle {
  flex: 1;
  width: 100%;
}
.section_menu .bloc_menu #menu .menu .menu_bloc .menu_bloc_title_subtitle .title {
  font-size: 16px;
  font-weight: bold;
  margin: 10px 0 5px 15px;
  width: 70%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.section_menu .bloc_menu #menu .menu .menu_bloc .menu_bloc_title_subtitle .subtitle {
  font-size: 14px;
  margin: 5px 0 10px 15px;
  width: 70%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.section_menu .bloc_menu #menu .menu .menu_bloc .price {
  display: flex;
  height: 70%;
  align-items: flex-end;
  margin-right: 15px;
  font-weight: bold;
  font-size: 14px;
}
.section_menu .bloc_menu #menu .menu .menu_bloc .checkbox {
  height: 60px;
  width: 50px;
  margin-right: -50px;
  background: #99e2d0;
  border-radius: 0 15px 15px 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: margin-right 0.5s;
}
.section_menu .bloc_menu #menu .menu .menu_bloc .checkbox i {
  font-size: 25px;
  color: white;
  transition: all 0.4s ease;
  transform: rotate(360deg);
}
.section_menu .bloc_menu .button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  background: linear-gradient(175deg, #ff79da 0%, #9356dc 100%);
  color: white;
  padding: 0 40px;
  margin: 25px 0 50px 0;
  border-radius: 200px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  position: relative;
  transition: all 450ms;
}
.section_menu .bloc_menu .button:hover {
  opacity: 0.8;
  cursor: pointer;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
}

/*animation menu*/
@-webkit-keyframes opacity {
  0% {
    opacity: 0;
    margin-top: 20px;
  }
  100% {
    opacity: 1;
    margin-top: 0px;
  }
}
@keyframes opacity {
  0% {
    opacity: 0;
    margin-top: 20px;
  }
  100% {
    opacity: 1;
    margin-top: 0px;
  }
}
.opacity {
  -webkit-animation: opacity 1s both;
          animation: opacity 1s both;
}

#bloc-1 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

#bloc-2 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

#bloc-3 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

#bloc-4 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

#bloc-5 {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

#bloc-6 {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

#bloc-7 {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

#bloc-8 {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

#bloc-9 {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

#bloc-10 {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

/* FOOTER*/
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: rgb(82, 82, 82);
}
.footer .footer_blocs {
  display: inline;
  padding: 0 40px;
  width: 100%;
}
@media (min-width: 800px) {
  .footer .footer_blocs {
    height: 140px;
  }
}
.footer .footer_blocs .logo {
  font-family: "Shrikhand";
  color: white;
  font-size: 20px;
}
@media (min-width: 800px) {
  .footer .footer_blocs .logo {
    display: flex;
    justify-content: center;
  }
}
.footer .footer_links {
  display: inline-flex;
  flex-direction: column;
  width: auto;
  margin-bottom: 20px;
}
@media (min-width: 800px) {
  .footer .footer_links {
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
}
.footer .footer_links .footer_link {
  display: inline-flex;
  align-items: center;
  text-align: center;
  color: white;
  height: 30px;
  cursor: pointer;
}
@media (min-width: 800px) {
  .footer .footer_links .footer_link {
    margin: 0 20px;
  }
}
.footer .footer_links .footer_link:hover .footer_title {
  text-decoration: none;
}
.footer .footer_links .footer_link i {
  margin-right: 14px;
  width: 15px;
}
.footer .footer_links .footer_link .footer_title {
  font-size: 16px;
  font-weight: 400;
}/*# sourceMappingURL=style_all.css.map */